<section class="welcome">
	<div class="row">
		<div class="col-6 d-flex flex-column justify-content-center">
			<div class="ml-5 to-front">
				<h1>Hi, I am</h1>
				<h1>Dave</h1>
				<h6 class="accent1">Full - Stack Developer</h6>

				<p class="mt-4">
					I am Dave van der Goot, a huge Web application lover. A 23-year-old living in a very small, but damn beautiful country called Luxembourg.
				</p>

				<button class="btn btn-gradient btn-lg"> Get in touch </button>
			</div>

			<img appParallax [ratio]="-0.2" class="right-top" src="./../../../assets/images/blob-shape.svg">

			<!-- <img class="left-bottom" src="./../../../assets/images/blob-shape2.svg"> -->
		</div>
		<div class="col-6 d-flex flex-column justify-content-center">
			<img src="./../../../assets/images/my_app.svg">
		</div>
	</div>
</section>

<section class="experience">
	
	<div class="row">
		<div class="ml-5 pt-5">
			<h1>Experience</h1>
		</div>
		<div class="col-lg-11 mx-auto">
			<!-- Timeline -->
			<img appParallax [ratio]="-0.2" class="center" src="./../../../assets/images/blob-shape3.svg">
			<ul class="timeline">
				<li class="timeline-item bg-white rounded ml-3 p-4 shadow">
					<div class="timeline-arrow"></div>
					<h2 class="h5 mb-0">First Job</h2>
					<span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>2 September, 2019</span>
					<p class="text-small mt-2 font-weight-light">
						After 10 years of education I finally stepped into the grown up world and got my first job as a full stack developer at <a href="www.salonkee.lu">Salonkee.</a>
					</p>
				</li>
				<li class="timeline-item bg-white rounded ml-3 p-4 shadow">
					<div class="timeline-arrow"></div>
					<h2 class="h5 mb-0">BAC+2</h2>
					<span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>September, 2017 - Juli 2019</span>
					<p class="text-small mt-2 font-weight-light">After a gap year where I worked at a big Luxembougish IT service company I decided to take my education further. </p>
					<p class="text-small mt-2 font-weight-light">In this 2 year studies I learned a lot of different subjects such as Java, web development and networking. Furthermore I had the possibility to participate in an internship which led me to my current job.</p>
				</li>
			</ul><!-- End -->
		</div> 
		
		<hr>

		<div class="col-12 pl-5 pt-5 pb-5">
			<h3>Specialised in</h3>

			<div class="d-flex flex-row justify-content-center justify-content-md-start flex-wrap specialisation">
				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/javascript.png">
					</div>
				</div>

				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/html-css.png">
					</div>
				</div>

				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/nodejs.png">
					</div>
				</div>

				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/mysql.png">
					</div>
				</div>

				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/mongodb.png">
					</div>
				</div>

				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/java.png">
					</div>
				</div>

				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/angular.png">
					</div>
				</div>

				<div class="p-10">
					<div class="card shadow">
						<img src="./../../../assets/images/bootstrap.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="break">
	<div class="row">
		<div class="socials col-12 d-flex justify-content-center">
			<div class="d-flex flex-row justify-content-around">
				<div class="card-item">
					<i class="fab fa-facebook-f"></i>
					<h6 class="mt-2">Facebook</h6>
				</div>
				<div class="card-item">
					<i class="fab fa-instagram"></i>
					<h6 class="mt-2">Instagram</h6>
				</div>
				<div class="card-item">
					<i class="fab fa-github"></i>
					<h6 class="mt-2">Github</h6>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="about pt-5">
	<div class="row ml-5">
		<div class="col-8">
			<h1>What can I do for you?</h1>

			<div class="mt-3">
				<p>
					I love my job, being a professional full-stack developer since 2019 is a dream come true and for this I have to thank my friend Jeff 
					who encouraged me to persue this career.
				</p>
				<p>
					Now I have a knowledgebase to get started creating web applications and web pages for customers.
				</p>

				<h3 class="mt-5">Web applications</h3>
				<h6 class="mt-3">Why spending thousands of Euros on an mobile app and a desktop app to cover all devices?</h6>
				<p class="mt-3">
					With modern technologies there is absolutely no need to do this anymore. A web application covers all your needs and goes even further as the possibilities are endless. 
				</p>
			</div>

			<div class="row">
				<div class="col-7">
					<div class="mt-5">
						<h6>You already have an idea or a project you want to realize?</h6>
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Your email adress" aria-label="Recipient's username" aria-describedby="button-addon2">
							<div class="input-group-append">
							  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send Request</button>
							</div>
						  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<img class="right" src="./../../../assets/images/blob-shape2.svg">
		</div>
	</div>
</section>
