// $primary: #3887fe;
// $secondary: #8338ea;
// $accent1: #ff006c;
// $accent2: #ffbf0b;

.p-10 {
    padding: 10px
}

.welcome {
    background: #fff;
    height: 100vh;
    overflow: hidden;
}

.welcome .row:first-child {
    height: 100%;
}

.welcome img {
    height: 70%;
}

.btn-gradient {
    background: linear-gradient(90deg, #c06b78, #d97a7a);
    color: white;
    border: 0;
    transition: 0.4s;

    &:hover {
        box-shadow: 0 0 4px 1px rgb(133, 133, 133);
    }
}

.right-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.center {
    position: absolute;
    left: 400px;
    z-index: 0;
}

.to-front {
    z-index: 99;
}

.experience {
    background-color: #f9f0eb;
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #d97a7a;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #d97a7a;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d97a7a;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.experience,
.about {
    box-shadow: 0 0 4px 1px #ddd;
}

.specialisation .card {
    padding: 15px;
}

.specialisation .card {
    height: 150px;
    width: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 50%;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.about {
    background-color: #f9f0eb;
    overflow: hidden;
}

.break {
    padding: 25px 15px;
    background: linear-gradient(90deg, #e27f7f, #d97a7a);
}

.socials {
    padding: 25px 0;
    color: white;
}

.break .card .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .right {
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    width: 300px;
}